{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content %}
<h1>Register</h1>
<form method="post">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
  <label for="username">Username:</label><br>
  <input type="text" name="username" id="username" required><br><br>
  <label for="password">Password:</label><br>
  <input type="password" name="password" id="password" required><br><br>
  <input type="checkbox" name="auto_login" id="auto_login">
  <label for="auto_login">Log me in after registering</label><br><br>
  <input type="submit" value="Register">
</form>

{% if error %}
  <div class="message error">{{ error }}</div>
{% endif %}

{% endblock %}
